/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* palette 

#ffffff-bg-white
#f6f8f9-bg-grey

#47adf1-blue-icon
#9c72e4-purple-icon
#64c0a9-green-icon
#f29e33-orange-icon
#d863a1-pink-icon
#b0c926-light-green-icon

#eb564d-red-marker
#64c0a9-green-marker
*/

/* background */

body {
    width: 100%;
   background-color: #f6f8f9;
   font-size: 20px; 
}

/* banner toboolist */

header {
    background-color: #ffffff;
}

.logo-div {
    padding: 20px;
    margin-left: 40px;
    
}

#toboolist-logo {
    width: 80px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size: 3.5em;
}

/* macroicon-01 */

.macroicon-01 {
    width: 50%;
    margin: auto;
    background-color: #ffffff;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 0.2%;
    padding-left: 5%;
    padding-right: 5%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* addtask/addsection point */

button {
    
    padding: 10px 20px;
    display: inline-block;
    font-size: 0.8em;
    border-radius: 10px;
}

#addtask {
    background-color: #47adf1;
    color: #ffffff;
    border: none;
}

#addsection {
    background-color: #ffffff;
    border-color: #d2d2d2;
    color: #828282;
}

nav {
    margin-bottom: 10px;
}

/* macroicon-02 */

.macroicon-02 {
    width: 50%;
    margin: auto;
    background-color: #ffffff;
    margin-top: 0.15%;
    padding-top: 1%;
    padding-bottom: 0.2%;
    padding-left: 5%;
    padding-right: 5%;
}

/* list */

.ul-task {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
 }

 li {
    list-style: none;
    font-size: 0.5;
 }

